.settings/
bin/
/latex/*.out
/latex/*.toc
/latex/*.aux
/latex/*.log
/latex/*.vrb
/latex/*.nav
/latex/*.cpt
/latex/*.out
/latex/*.blg
/latex/*.bbl
/latex/*.gz
/latex/*.fls
/latex/*.snm
/latex/*.dvi
/latex/*.tex~
/latex/*.pdf
/latex/*.xml
/latex/*.bcf
/latex/*-blx.bib
/latex/*.maf
/latex/*.mtc*
.DS_Store
