div {
	padding:0;
	border:0;
	margin:0;
}

#top{
	background-color:#000044;
	color:#fff;
	padding:10px;
}

#body {
}

#sidebar {
	float:left;
	background-color:#ededed;
	padding:5px;
	width:300px;
}

#sidebar ul li {
	list-style:none;
	border-bottom:1px solid #f00;
	margin-right:20px;
}

#content {
	margin-left:310px;
	padding:10px;
}

.clear{
	clear:both;
}

#footer {
	background-color:#676767;
	color:#fff;
	padding:5px;
}

p.err {
	color:#f00;
	border-bottom:1px solid #f00;
	padding:10px;
	padding-bottom:4px;
}

ul.clist{
	background-color:#F5FFB3;
	margin:0;
	padding:0;
	border:0;
}
ul.clist li{
	border-bottom: 1px solid #000;
	border-left: 20px solid #FFCA57;
	padding:10px;
	padding-right:30px;
	list-style:none;
	margin-left:0;
}

div.pari{
	background-color:#ededed;
}

div.dispari{
	background-color:#FFECC2;
}

div.torneo {
	border:1px solid #ababab;
	background-color:#FFECC2;
	padding:10px;
}

a:link, a:visited, a:hover, a:active{
	font-family:verdana;
	text-decoration:none;
	color:#FF8800;
	font-size:10pt;
}

#content p {
	font-family:verdana;
	font-size:9pt;
	line-height:2.0em;
	color:#000075;
}