/* 
    Created on : 02-Jan-2015, 14:30:59
    Author     : Roberto Casadei <roberto.casadei12@studio.unibo.it>
*/

/*************/
/* Reset css */
/*************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        background-color:#ededed;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/********************/
/* Main page blocks */
/********************/

body {
    overflow:hidden;
}

#splashtop{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:200px;
    background-color:#1B3C6B;
}

#splashcontent{
    position:fixed;
    top:200px;
    left:0;    
    width:100%;
    height:100%;
    background-color:#366AC9;
}

#content{
    border-top:10px solid #bdbdbd;
    padding:20px;
}


/*****************/
/* Page elements */
/*****************/

#enter {
    text-decoration:none;
    font-size:60px;
    color:#fff;
    font-weight:bold;
    display:block;
    text-align:center;
    vertical-align:middle;
    margin: auto;
    height:200px;
    line-height:200px;
}

#enter:hover{
    background-color: #2C4D7C;
}

#content p {
    font-size:25px;
    color:#ddd;
    text-align:center;
    font-weight:bold;
}
